<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Products</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
<div class = "row">

	<h1>Products For Sale</h1>
	<a class="btn btn-success" href="/" th:href="@{|/product/create|}" role="button">Add Product</a>

	<table class="table table-striped">

		<thead>
			<tr>
				<th>Name</th>
				<th>Condition</th>
				<th>Year</th>
				<th>Price</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${products}">
				<td th:text="${p.productName}"></td>
				<td th:text="${p.productCondition}"></td>
				<td th:text="${p.productYear}"></td>
				<td th:text="${p.productPrice}"></td>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				
				<td><a class="btn btn-default" href="/" th:href="@{|/product/${p.id}|}" role="button">View</a></td>
				<td><a class="btn btn-primary" href="/" th:href="@{|/product/${p.id}/edit|}" role="button">Edit</a></td>
				<td><a class="btn btn-danger" href="/" th:href="@{|/product/${p.id}/delete|}" role="button">Delete</a></td>
				
				
			</tr>
		</tbody>
		
		
	</table>
	</div>
</body>
</html>