<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<div class="row">

		<h1>Product Delete</h1>
		<form method = "POST" th:object="${products}">
		<input type="hidden" th:value="*{id}"/>
		<div th:if="${products}">
			<ul th:object ="${products}">
				<li th:text="*{productName}"></li>
				<li th:text="*{productCondition}"></li>
				<li th:text="*{productYear}"></li>
				<li th:text="*{productPrice}"></li>
				<li th:text="*{id}"></li>
				<li><a href="/" th:href="@{|/product/${products.id}/delete|}">Delete</a></li>
			</ul>
		</div>

		<div th:unless="${product}">
			<h3>No product Found</h3>
		</div>
		<a href="/product">Back</a>
	</form>
	</div>
	


</body>
</html>